.game-2048 {
  background-color: white;
  padding: 16px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header-container {
    display: flex;
    justify-content: space-between;
    width: 400px;

    .header-text {
      color: #776e65;
      font-weight: bold;
      font-size: 74px;
      line-height: 66px
    }

    .button-container {
      display: flex;
      justify-content: space-between;
    }
  }

  .grid-container {
    display: flex;
    flex-flow: column;
  }

  .grid-row {
    display: flex;
    justify-content: center;
  }

  .grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background: bisque;
    border-radius: 15px;
    font-size: 53px;
    line-height: 98px;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  }
}