.blog-post-template {
  background-color: white;
  padding: 16px;
  width: 1000px;
  .header-line {
    display: flex;
    justify-content: space-between;
    .header-text {
      color: #333;
      font-size: 2em;
      font-weight: bold;
      line-height: 35px;
    }
    .header-date {
      font-size: .9em;
    }
  }

  .post-tags {
    padding-top:10px;
    padding-bottom: 20px;
  }

}