a {
  //border-color: #03a9f4;
  color: #259;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  text-rendering: optimizeLegibility;
  background: #f3f3f3;
}



.common-container {
  // max-width: 64rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 62px;
  min-width: 1000px;
  margin-left: 16px;
  margin-right: 16px;
}